/* ESTILO de Imagens e Videos */
section.imagens {
    padding: 80px 0;
    box-shadow: 0 0 40px 0px #ffffff25;
}

section.imagens h2 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 40px;
}

/* Ajuste do tamanho das imagens no carrossel */
.carousel-inner img {
    width: 100%;      /* Assegura que a imagem ocupe 100% da largura do container */
    height: auto;     /* Mantem a proporção da imagem */
    max-height: 600px; /* Limita a altura máxima da imagem */
    object-fit: cover; /* Faz com que a imagem cubra todo o espaço sem distorção */
}

.carousel-item img {
    width: 100%; /* Ajusta a largura para ocupar todo o espaço do slider */
    height: 600px; /* Define uma altura fixa para todas as imagens */
    object-fit: cover; /* Garante que as imagens se adaptem sem distorções */
    object-position: center; /* Centraliza o conteúdo da imagem */
}

