/* ESTILO de Imagens e Videos */
section.imagens {
    padding: 80px 0;
    box-shadow: 0 0 40px 0px #ffffff25;
}

section.imagens h2 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 40px;
}


